.\__pycache__
.\assets\models\__pycache__
.\assets\models\python\__pycache__
.\engine\__pycache__
__pycache__/controler.cpython-312.pyc
__pycache__/controler.cpython-311.pyc
assets/models/__pycache__/cube.cpython-311.pyc
assets/models/__pycache__/cube.cpython-312.pyc
assets/models/__pycache__/test_eniroment.cpython-311.pyc
assets/models/python/__pycache__/new_cube.cpython-311.pyc
assets/models/python/__pycache__/new_cube.cpython-312.pyc
engine/__pycache__/camera.cpython-311.pyc
engine/__pycache__/camera.cpython-312.pyc
engine/__pycache__/culler.cpython-311.pyc
engine/__pycache__/culler.cpython-312.pyc
engine/__pycache__/object_handler.cpython-312.pyc
engine/__pycache__/polygon_proccesing.cpython-311.pyc
engine/__pycache__/polygon_proccesing.cpython-312.pyc
engine/__pycache__/projection.cpython-311.pyc
engine/__pycache__/projection.cpython-312.pyc
engine/__pycache__/render_pipeline.cpython-311.pyc
engine/__pycache__/renderer.cpython-311.pyc
engine/__pycache__/renderer.cpython-312.pyc
engine/__pycache__/rotat_trans_scal.cpython-311.pyc
engine/__pycache__/rotat_trans_scal.cpython-312.pyc
engine/__pycache__/texture_manager.cpython-311.pyc
engine/__pycache__/texture_manager.cpython-312.pyc
engine/__pycache__/texture_mapper.cpython-311.pyc
engine/__pycache__/texture_mapper.cpython-312.pyc
